.subsection {
  margin: 2rem;
  /* border: 5px solid #73858c; */
  border: 2px solid #73858c;
}

.subsection-title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: hsl(197, 75%, 10%);
  color: #20a8df;
  border-bottom: 2px solid #73858c;
}

.subsection-buttons {
  display: flex;
}
